main div.about-store {
  background-color: rgb(250, 244, 242);
}

main .about-us {
  padding: 90px 15px 15px 15px;
}

main .img-animal {
  height: 100%;
  width: 100%;
  font-size: 100%;
}
   
@media (min-width: 767px) {
  main .img-animal  {
    width: 550px;
    height: 600px;
  }
}
   
main .banner-about {
  font-size: 30px;
  width: 100%;
  margin-bottom: 0.8em;
  margin-top: 40px;
  line-height: 1.2;
}

@media (min-width: 767px) {
  main .banner-about  {
    font-size: 47px;
    margin-top: 0.4em;
  }
}

main .paragraph-about {
  margin-top: 1.5em;
  font-size: 19px;
}

@media (min-width: 767px) {
  main .paragraph-about  {
    font-size: 20px;
  }
}

main .mini-paragraph-about {
  font-size: 17px;
  margin-top: 1.5em;
  line-height: 1.5;
}

main ul.li-about {
  margin-top: 1.5em;
  line-height: 2.5;
  font-size: 17px;
  padding: 0 30px 0 30px;
  list-style: none;
  list-style-image: url(../img/paw.svg);
}

main div.service {
  padding: 0 0 90px 0;
  box-sizing: border-box; 
}

@media (min-width: 767px) {
  main div.service {
    display: flex;
    justify-content: center;
  }
}
   
main div.service-box {
  display: flex;
  flex-direction: row;
  padding: 0 15px 0 15px;
  margin-top: 50px;
}
 
main .service-img {
  padding: 1em 1em;
  border: 0.1em solid  rgb(255, 230, 212);;
  border-radius: 3.5em; 
  background-color: rgb(255, 230, 212);
  width: max-content; 
  font-size: 100%;
  height: 26px;
}

main div.about {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
   
main div.text-service {
  box-sizing: border-box;
  margin: 0 7.5px 0 7.5px;
}
   
main .title-service {
  font-size: 22px;
}
   
@media (min-width: 767px) {
  main div.about-us {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    margin-left: 170px;
    margin-right: 140px;
  }
}
   
