main .ad-cads{
  padding: 0px 15px 60px 15px;
}
  
main .best-food {
  background-image: url(../img/best-food.webp);
  background-position: center;
  background-size: cover;
  min-width: 100px;
  min-height: 300px;
  font-size: 100%;
  display: block;
  margin-top: 50px;
  position: relative;
}

@media (min-width: 767px) {
  main .best-food {
    width: 560px;
    height: 350px;
  }
}

main .producers-food {
  color: var(--button-color);
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
  position: absolute;
  top: 15%;
  left: 6%;
}
  
main h2.quality-food {
  font-size: 30px;
  text-align: left;
  position: absolute;
  top: 26%;
  left: 6%;
  right: 50%;
  line-height: 1.2;
}

@media (min-width: 767px) {
  main h2.quality-food {
    font-size: 52px;
    font-weight: 550;
    right: 35%;
  }
}

main .buttom-buy {
  font-size: 16.5px;
  position: absolute;
  top: 75%;
  left: 6%;
  color: var(--button-color);
  font-weight: bold;
  text-decoration: none;
  padding: 0.7em 1.8em;
  border: 0.1em solid rgb(253, 228, 218);
  border-radius: 2em; 
  transition: color 0.7s;
  background-color: rgb(253, 228, 218);
}

main .buttom-buy:hover {
  color: rgb(23, 145, 151);
  border: 0.1em solid rgba(87, 214, 221, 0.582);
  background-color: rgba(87, 214, 221, 0.582);
  cursor: pointer;
}

main .discount {
  background-image: url(../img/discount.png);
  background-size: cover;
  background-position: center;
  min-width: 100px;
  min-height: 300px;
  font-size: 100%;
  display: block;
  margin-top: 50px;
  position: relative;
}

@media (min-width: 767px) {
  main .discount {
    width: 560px;
    height: 350px;
  }
}

@media (min-width: 767px) {
  main .ad-cads {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    margin: 0px 200px 0px 170px;
  }
}

main .banner-discount {
  font-size: 28px;
  position: absolute;
  top: 20%;
  left: 11%;
}

@media (min-width: 767px) {
  main .banner-discount {
    font-size: 30px;
    font-weight: 600;
  }
}

main .discount-product {
  color: var(--button-color);
}

main .buttom-products {
  position: absolute;
  top: 45%;
  left: 38%;
  color: var(--button-color);
  font-weight: bold;
  text-decoration: none;
  padding: 0.7em 1.5em;
  border: 0.1em solid rgb(253, 228, 218);
  border-radius: 2em; 
  transition: color 0.7s;
  background-color: rgb(253, 228, 218);
}

main .buttom-products:hover {
  color: rgb(23, 145, 151);
  border: 0.1em solid rgba(87, 214, 221, 0.582);
  background-color: rgba(87, 214, 221, 0.582);
  cursor: pointer;
}