.container-feed-catalog {
    background-color: rgb(250,245,242);
    
    
}


.container-feed-catalog #animal-feed-catalog {
    padding: 0px 24px;
    flex-direction: column;
    max-width: 1200px;
    margin: 60px auto;
    
}

#animal-feed-catalog h2 {
    text-align:center;
    font-size: 3em;
}

#animal-feed-catalog > p {
    text-align: center;
}

#animal-feed-catalog .small-bone {
    display:block;
    margin: auto;
    width: 70px;
    height: 32px;
    padding: 25px;
}

#animal-feed-catalog div img {
    border-radius: 50%;
    width: 70px;
    height: 70px;

}

#animal-feed-catalog .underline {
    background-color: #45c1c7;
    height: 3px;
    width: 10%;
}

.feed .line-price {
    width: auto;
    height: 1px;
    background-color: rgb(149, 139, 126);
}

.feed div {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: auto;
}

.feed p {
    display: block;
}


