.footer-nav {
    background-color: rgb(250, 244, 242);
  }
  
  .footer-menu {
    background-color: rgb(250, 244, 242);
    text-align: center;
    background-position: center;
    padding: 10px 10px 10px 10px;
  }
  
  #clock{
    color: var(--buy-color);
    font-weight: bold;
    font-size: 20px;
  }

  .number {
    color: var(--button-color);
    font-family: var(--title-font-family);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  footer h2 {
    text-align: center;
    margin: 30px;
  }
  
  footer ul li a {
    text-decoration: none;
  }
  
  .navigation .customer-service .help-information {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 10px 10px 10px 10px;
  }

  .navigation div {
    margin-top: 20px;
  }

  .customer-service div {
    margin-top: 20px;
  }

  .help-information div {
    margin-top: 20px;
  }

  .map-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .map-line .map iframe {
    min-width: 320px;
    margin-top: 0px;
  }
  
  .paw-logo img {
    max-width: 250px;
    margin-top: 40px;
  }
  
  .map-list {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
  }
  
  .text-block {
    padding: 10px 10px 10px 10px;
  }

  @media (min-width: 767px) {
    .map-line {
      display: flex;
      flex-direction: row;
    }

    .map-line .map iframe {
      min-width: 700px;
      margin-bottom: 30px;
    }
  }

  .footer-nav h4 {
    font-size: 1.5rem;
    text-align: left;
    text-transform: uppercase;
    color: var(--buy-color);
  }
  
  .footer-nav {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 30px 30px;
  }
  
  footer .footer-nav p {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .sale-week {
    font-family: var(--original-font-family);
    font-weight: bold;
    text-decoration: none;
  }
  
  .arrow {
    color: var(--buy-color);
  }
  
  .sale-week:hover {
    text-decoration: underline;
  }

  .email-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .button-subscribe {
    background-color: #fce6d5;
    min-width: 185px;
    max-width: 250px;
    border-style: none;
    border-radius: 20px;
    font-size: 1rem;
    padding: 10px 10px 10px 10px;
    color: var(--button-color);
    font-weight: bold;
    letter-spacing: 0.60px; 
    text-align: center;
    transition: color 0.3s;
    margin: 20px 0px 20px 0px;
  }

  .button-subscribe:hover {
    background-color: rgb(157, 232, 235);
    color: var(--buy-color);
  }

  .footer-nav form input {
    background-color: #f4e6e2;
    border-style: none;
    border-radius: 20px;
    font-size: 1rem;
    letter-spacing: 0.60px; 
    padding: 10px 10px 10px 10px;
    color: var(--original-text-color);
    text-align: left;
    margin-top: 20px;
  }

  .footer-menu {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 30px 30px;
  }

  .logo-footer img {
    max-width: 250px;
    padding: 20px 20px 20px 0px;
    margin-top: 0px;
  }
  .or-line {
    background-color: var(--button-color);
    height: 2px;
    margin: 10px 90px 10px 90px;
  }

  .small-social-icons:hover {
    color: var(--buy-color);
  }

  .contacts-bottom {
    color: var(--button-color);
    font-size: 0.8rem;
    font-weight:bold;
    background-color: rgb(242, 232, 228);
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
  }
  .contacts-bottom span {
    padding-top: 5px;
  }

  .footer-menu p {
    text-align: center;
    font-size: 1rem;
    padding: 10px 0px 10px 0px;
  }

  .footer-menu p a {
    font-family: var(--original-font-family);
    font-weight: bold;
    text-decoration: none;
  }
  .footer-menu p a:hover {
    text-decoration: underline;
  }

  .footer-menu ul {
    list-style-type: none;
  }

@media (min-width: 767px) {
  .footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .footer-subscribe {
    padding: 0px 0px 0px 0px;
  }

  .email-block {
    padding: 0px 20px 0px 20px;
    margin-top: 0;
  }
  .for-paddings {
    padding: 0px 20px 0px 20px;
  }

  .footer-menu {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-around;
  }

  .logo-footer p {
    text-align: left;
    padding-right: 20px;
  }
  .or-line {
    width: 30px;
    height: 3px;
    margin: 10px 0px 10px 0px;
  }
  .short-info {
    max-width: 400px;
  }
}

@media (min-width: 1080px) {
  .footer-subscribe {
  padding: 0px 0px 0px 40px;
  }
}
