@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;800&family=PT+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --title-color: rgb(60, 55, 49);
  --original-text-color: rgb(149, 139, 126);
  --button-color:rgb(237, 100, 53);
  --buy-color: rgb(69, 193, 199);
  --title-font-family: 'Baloo 2', cursive;
  --original-font-family: 'PT Sans', sans-serif;
  scroll-behavior: smooth;
}

body{
  font-family: var(--original-font-family);
  color: var(--original-text-color); 
  margin: auto;
}

h1,h2,h3,h4 {
  font-family: var(--title-font-family); 
  color: var(--title-color);
}

main .banner {
  background-image: url(../img/banner-pictures.webp);
  background-size: cover;
  min-height: 100vh;
}

@media (min-width: 992px) {
  main .banner {
    padding-bottom: 300px;
    padding-top: 200px;
  }
}

@media (min-width: 768px) {
  main .banner {
    padding-bottom: 225px;
    padding-top: 155px;
  }
}

h1 {
  font-size: 48px;
  padding: 150px 24px 0 24px;
  line-height: 1.1;
}

@media (min-width: 767px) {
  h1 {
    font-size: 82px;
    padding-top: 50px;
    word-wrap: break-word;
    width: 620px; 
    margin-left: 50px;
  }
}

@media (min-width: 1280px) {
  h1 {
    margin-left: 150px;
  }
}

main .banner-paragrahf {
  padding: 0 24px 0 24px;
  margin-top: 30px;
  font-size: 19px;
}

@media (min-width: 767px) {
  main .banner-paragrahf {
    margin-left: 50px;
  }
}

@media (min-width: 1280px) {
  main .banner-paragrahf {
    margin-left: 150px;
  }
}

main .title-page {
  background-color: rgb(250, 244, 242);
}

main .button {
   margin-top: 50px;
   padding-left: 24px;
}

@media (min-width: 767px) {
  main .button {
    margin-left: 150px;
  }
}

@media (max-width: 320px) {
  main .button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

main .button-about-us {
  font-size: 16.5px;
  color: var(--button-color);
  font-weight: bold;
  text-decoration: none;
  padding: 0.7em 1.8em;
  border: 0.1em solid rgb(253, 228, 218);
  border-radius: 2em; 
  transition: color 0.7s;
  background-color: rgb(253, 228, 218);
}

main .button-about-us:hover {
  color: rgb(23, 145, 151);
  border: 0.1em solid rgba(87, 214, 221, 0.582);
  background-color: rgba(87, 214, 221, 0.582);
  cursor: pointer;
}

main .button-categories {
  font-size: 17.5px;
  font-weight: bold;
  color:rgba(52, 211, 219, 0.582);
  font-weight: bold;
  text-decoration: none;
  padding: 0.7em 2.1em;
  border: 0.1em solid rgba(87, 214, 221, 0.582);
  border-radius: 2em; 
  transition: color 0.7s;
}

main .button-categories:hover {
  color: white;
  border: 0.1em solid rgb(23, 145, 151);
  background-color: rgb(23, 145, 151);
  cursor: pointer;
}

main #categories {
  margin-top: 50px;
  padding: 0 24px 0 24px;
  text-align: center;
}

main .banner-food-pets {
  font-size: 30px;
  font-weight: 700;
}

@media (min-width: 767px) {
  main .banner-food-pets {
    font-size: 50px;
  }
}

main .paragraph-food-pets {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 50px;
  margin-top: 20px;
}

.trending-products {
  color: var(--title-color);
  font-family: var(--title-font-family);
  font-size: 30px;
  display: inline;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.paragraph {
  font-family: var(--original-font-family); 
  text-align: center;
  font-size: 19px;
}

.top-categories, a {
  color: var(--title-color);
}

.add-button {
  color: var(--buy-color);
}

.top-goods img {
  width: 270px;
  height: 270px;
}


.top-good-name {
  color: var(--title-color);
}
main div.trending-products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  font-family: var(--title-font-family);
  color: var(--title-color);
}
main div.our-new-arrivals {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  font-family: var(--title-font-family);
  color: var(--title-color);
}
main div.trending-products > p {
  font-family: var(--original-font-family);
  color: var(--original-text-color);
}
main div.our-new-arrivals > p {
  font-family: var(--original-font-family);
  color: var(--original-text-color);
}
main div.carousel-trending-products-section-content article a {
  font-family: var(--original-font-family);
  color: rgb(60, 55, 49);
  text-decoration: none;
  font-weight: 400;
}
main div.carousel-new-arrivals-section-content article a {
  font-family: var(--original-font-family);
  color: rgb(60, 55, 49);
  text-decoration: none;
}
main div article a.name:hover {
  font-family: var(--original-font-family);
  color: rgb(235, 141, 26);
  text-decoration: none;
}
main div article p.price {
  color: var(--original-text-color);
}
main div.ad-cards h2 {
  font-family: var(--title-font-family);
  
}
main div.ad-cards p.price {
  color: var(--original-text-color);
  font-style: italic;
}
main div.ad-cards h3 {
  font-family: var(--title-font-family);
}
main div.ad-cads span.discounts {
  color: red;
  background-color: transparent;
}
.our-new-arrivals {
  color: var(--title-color);
  font-family: var(--title-font-family);
  font-size: 30px;
  display: inline;
  text-align: center;
  padding: 10px 10px 10px 10px;
}
div.ad-cardss {
  background-color: #FAF4F2;
}
.ad-cardss > div {
  margin: 20px 20px 20px 20px;
  width: 580px ;
  height: 380px ;
}
.ad-cardss div.ad-card-aquariums {
  margin: 120px 30px 10px 30px;
  background-image: url(../img/save-ten-per-cent-on-aquariums.webp);
  background-size: cover;
  background-position: center;
  max-width: 100%;
  display: block;
}
.ad-cardss div.toys {
  margin: 120px 30px 10px 30px;
  background-image: url(../img/best-picks-for-your-pets.webp);
  background-size: cover;
  background-position: left;
  max-width: 100%;
  display: block;
}
.ad-cardss > div {
  text-align: center;
}
.ad-cardss > div span {
  color: red;
}
@media (min-width: 600px) {
  .ad-cardss{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 600px) {
  .carousel-trade-marks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }
}
main div.promotion {
  background-image: url(../img/background-cat-week.png);
  background-size: cover;
  background-position: center;
  min-height: 120vh;
  width: 100%;
}
main div.container-promotion span {
  color: var(--buy-color);
}
main div.container-promotion > p.subtitle {
  font-family: var(--original-font-family);
  font-size: 19px;
  font-weight: 400;
}
main div.container-promotion > p.first-subtitle {
  font-family: var(--original-font-family);
  font-size: 15px;
  font-weight: 700;
}
main div.container-promotion > h2 {
  font-family: var(--title-font-family);
  font-size: 82px;
  font-weight: 700;
}
main div.container-promotion span.discounts {
  color: red;
  }
@media (min-width: 600px) {
  main div.promotion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}
main div.container-promotion {
  margin: 120px 20px 30px 60px;
}
main div.ad-cardss > div.ad-card-aquariums h2 {
  position: relative;
  top: 17%;
  left: 3%;
  font-size: 44px;
  font-weight: 700;
}
main div.ad-cardss > div.ad-card-aquariums a {
  position: relative;
  top: 25%;
  right:10%;
  font-size: 17px;
  font-weight: 700;
}
main div.ad-cardss > div.toys p.paragraph {
  position: relative;
  top: 20%;
  right: 29%;
  font-size: 15px;
  font-weight: 700;
}
main div.ad-cardss > div.toys h3 {
  position: relative;
  top: 25%;
  right: 26%;
  font-size: 32px;
  font-weight: 700;
}
main div.ad-cardss > div.toys p.price {
  position:relative;
  top: 28%;
  right: 35%;
  font-size: 17px;
  font-weight: 400;
  font-family: var(--original-font-family);
  font-style: italic;
}
main div.ad-cardss > div.toys a.button {
  position: relative;
  top: 40%;
  right: 30%
}

.carousel-trending-products-section-content {
  display: flex;
  margin: 10px;
  padding: 10px;
}
.carousel-new-arrivals-section-content {
  display: flex;
  margin: 10px;
  padding: 10px;
}

/*div.carousel-new-arrivals-section-content {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  padding: 60px;
}*/


