.slider-logotypes {
    min-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1%;
    left: 20%;
    transform: translate(3%,-25%);
}

.slider-logotypes .logo-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 30%;
    width: 250px;
    height: 150px;
}
.slider-logotypes .logo-block img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: auto;
}
.slider-logotypes button {
    background-color: transparent;
    width: 50px;
    border: none;
}
.btn-prev-footer {
    position: relative;
    top: 1%;
    right: 67%;
}
.btn-next-footer {
    position: relative;
    top: 1%;
    right: 20%;
}