header{
    background-color: rgb(250, 244, 242);
    display: block;
}

@media (min-width: 767px) {
    header{
    display: flex;
    }
}

.controlsMenuLine {
    position: absolute;
    right: 35px;
    top: 45px;
    z-index: 1;
}

@media (min-width: 767px) {
    .controlsMenuLine {
        display: none;
    }
}

.burger-line {
    display: block;
    width: 24px;
    height: 1.9px;
    background-color: var(--title-color);
    margin-bottom: 5px;
}

.close-menu {
    display: none;
}

.close-menu .burger-line:first-child {
    transform: rotate(45deg);
    position: relative;
    top: 7px;
}

.close-menu .burger-line:last-child {
    transform: rotate(-45deg);
}

header .logo-company {
    position: relative;
    z-index: 1;
}

header .title-page {
    display: none;
    position: absolute;
    top: 15%;
    left: 0px;
    right: 0px;
    text-align: center;
    background-color: rgb(250, 244, 242);
    height: 90vh;
}

@media (min-width: 767px) {
    header .title-page {
      position: static;
      display: flex;
      height: auto;
    }
}

header .contacts-one {
    display: none;
}

@media (min-width: 767px) {
    header .contacts-one {
       color: var(--button-color);
       font-weight: 700;
       font-size: 15px;
       background-color: rgb(242, 232, 228);
       display: flex;
       justify-content: space-around;
       padding: 10px 170px 10px 170px;
       height: auto;
    }
}

@media (min-width: 767px) {
header .time-work {
    margin-right: 590px;
  }
}

@media (min-width: 767px) {
 header .mail{
   text-decoration: none;
   color: var(--button-color);
   padding-right: 15px;
 }
}

header .contacts {
    color: var(--button-color);
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    line-height: 2.5;
    margin-bottom: 10px;
}

@media (min-width: 767px) {
    header .contacts {
       display: none;
    }
}

header .mail{
     text-decoration: none;
     color: var(--button-color);
}
 
header .logo-company {
    padding-left: 24px;
    padding-top: 35px;
    font-size: 20px;
    width: 182px;
}

@media (min-width: 767px) {
   header .logo-company {
    display: none;
  }
}

header .logo-company-two {
    display: none;
}

header .nav-menu{
    display: flex;  
    flex-direction: column;
    margin-bottom: 10px;
}

header .menu {
    color: rgb(107, 107, 107);
    font-weight: 600;
    text-decoration: none;
    font-size: 15px;
    line-height: 2.5;
}

@media (min-width: 767px) {
   header nav.title-page {
      padding-left: 15px;
      padding-right: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-top: 20px;
      padding-bottom: 30px;
  }
}

@media (min-width: 767px) {
   header .nav-menu{
      display: flex;  
      flex-direction: row;
      margin-bottom: 10px;
    }
}

@media (min-width: 767px) {
   header .logo-company-two {
    display: block;
    font-size: 20px;
    width: 182px;
    padding-left: 24px;
  }
}

@media (min-width: 767px) {
  header .menu {
    padding-top: 10px;
    padding-left: 35px;
    transition: color 0.7s;
  }
}

header .menu:hover {
    color: var(--button-color);
    text-decoration: underline solid rgb(107, 107, 107);
    cursor: pointer;
}

.socials-icon-p {
    fill:  rgb(69, 193, 199);
    color:  rgb(69, 193, 199);
    width: 35px;
    transition: color 0.7s;
}

.socials-icon-p:hover {
    fill:  rgb(23, 145, 151);
}