.store-goods {
    background-color: rgb(250, 244, 242);
    padding: 0 24px 0 24px;
}

@media (min-width: 767px) {
    .store-goods {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.paragraf-stock{
    color: #61a854;
    font-size: 17px;
}

.banner-good-store {
    font-size: 22px;
}

.paragraf-code {
    margin-top: 8px;
    font-size: 14px;
}

.price-store-goods {
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 20px;
}

.quantity-goods-buy {
    display: flex;
    align-items: center;
}

main .buttom-add-to-cart {
    margin-left: 15px;
    font-size: 15px;
    color: var(--button-color);
    text-decoration: none;
    padding: 0.7em 5.5em;
    border: 0.1em solid rgb(253, 228, 218);
    border-radius: 2em; 
    transition: color 0.7s;
    background-color: rgb(253, 228, 218);
  }
  
  main .buttom-add-to-cart:hover {
    color: rgb(23, 145, 151);
    border: 0.1em solid rgba(87, 214, 221, 0.582);
    background-color: rgba(87, 214, 221, 0.582);
    cursor: pointer;
  }