/* .container-testemonials {
    max-width: 1200px;
    margin: auto;
    padding: 50px, 0px, 120px;
}
.testimonials-title {
    padding: 15px;
}

.testimonials-title h2 {
    text-align:center;
    font-size: 3em;
}

.testimonials-title .small-bone {
    display:block;
    margin: auto;
    width: 70px;
    height: 32px;
    padding: 25px;

}

.testimonials-title p {
    text-align: center;
    font-size:  1.2em;
}

.carousel-reviews img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
}
.carousel-reviews {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;
}

.review {
    
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: rgba(255, 175, 83, 0.582);
    border-width: 2px;
    max-width: 355px;
    padding: 0px, 15px;
    text-align: center;
    
}

.review img {
    padding-top: 15px;
}

.review p {
    padding: 15px;
    text-align: center;
}

.review .review-text {
    padding: 15px;
    font-style: italic;  
} */


.container-testemonials {
    max-width: 1200px;
    margin: 60px auto;
}

.container-testemonials .reviews .testimonials-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-testemonials .reviews .testimonials-title h2 {
    font-size: 1.5rem;
}

/* .container-testemonials .reviews .testimonials-title .small-bone {
    display:block;
    margin: auto;
    width: 70px;
    height: 32px;
    padding: 25px;

} */

.container-testemonials .reviews .carousel-reviews {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 60px 0px;
    padding: 0px 15px;
}

.container-testemonials .reviews .carousel-reviews .review {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: rgba(255, 175, 83, 0.582);
    border-width: 2px;
    width: 100%;
    padding: 15px;
    text-align: center;
    margin: 15px 5px;
}

.container-testemonials .reviews .carousel-reviews .review .img {
    padding: 15px;
}

.container-testemonials .reviews .carousel-reviews .review img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    
}
.container-testemonials .reviews .carousel-reviews .review p {
    padding: 15px;
    text-align: center;
}

.container-testemonials .reviews .carousel-reviews .review .review-text {
    padding: 15px;
    font-style: italic;  
}

.container-testemonials .reviews .carousel-reviews .review span {
    padding: 15px;
    color: rgb(252, 105, 105);
}

@media (min-width: 770px) {
    .container-testemonials .reviews .testimonials-title h2 {
        font-size: 3rem;
    }
}

@media (min-width: 900px) {
    .container-testemonials .reviews .carousel-reviews {
        flex-direction: row;
    }
}



