.top-recommend {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.top-recommend h2 {

     text-align:center;
}

.top-recommend a {
    text-decoration: none;

}

.top-recommend img {
    width: 272px;
    height: 272px;
}

.top-recommend img.small-bone {
    display:block;
    margin: auto;
    width: 100px;
    height: 44px;
    padding: 25px;

}

.top-recommend .top-recommend-text {
    text-align:center;
}

.top-categories {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    border-bottom-color: black;
    border-width: 3px; 
}

#top-for-dogs, #top-for-cats, #top-for-parrots, #top-for-rabbits, #top-for-hamsters, #top-for-fish {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}



