.wrapper {
    width: 600px;
    margin: 0 auto;
}
.slider-container {
    overflow: hidden;
    background-color: rgb(255, 230, 212);
}
.slider-track {
    display: flex;
    background-color: rgb(255, 230, 212);
}
.slider-item {
    height: 100px;
}
.slider-item:nth-child()
.slider-buttons {
    text-align: center;
}