@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=PT+Sans&display=swap');
:root {
  --title-color: rgb(60, 55, 49);
  --original-text-color: rgb(149, 139, 126);
  --button-color:rgb(237, 100, 53);
  --buy-color: rgb(69, 193, 199);
  --title-font-family: 'Baloo 2', cursive;
  --original-font-family: 'PT Sans', sans-serif;
}

.banner {
    color: var(--title-color); 
   font-family: var(--title-font-family); 
}
.trending-products {
  color: var(--title-color);
  font-family: var(--title-font-family);
  font-size: 30px;
  display: inline;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.paragraph {
  font-family: var(--original-font-family); 
  text-align: center;
}

