@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=PT+Sans&display=swap');
:root {
  --title-color: rgb(60, 55, 49);
  --original-text-color: rgb(149, 139, 126);
  --button-color:rgb(237, 100, 53);
  --buy-color: rgb(69, 193, 199);
  --title-font-family: 'Baloo 2', cursive;
  --original-font-family: 'PT Sans', sans-serif;
}
body{
  font-family: var(--original-font-family);
  color: var(--original-text-color); 
}
h1,h2,h3,h4 {
  font-family: var(--title-font-family); 
  color: var(--title-color);
}
h1 {
  font-size: 82px;
}
.contacts {
  color: var(--button-color);
  font-weight:bold;
  background-color: rgb(242, 232, 228);
  flex-direction: column;
}
.best-food {
  background-image: url(img/best-food.png)
}
.discount {
  background-image: url(img/discount.png)
}
.trending-products {
  color: var(--title-color);
  font-family: var(--title-font-family);
  font-size: 30px;
  display: inline;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.paragraph {
  font-family: var(--original-font-family); 
  text-align: center;
  font-size: 19px;
}

.top-categories, a {
  color: var(--title-color);
}

.add-button {
  color: var(--buy-color);
}

.top-goods img {
  width: 270px;
  height: 270px;
}

.top-good-name {
  color: var(--title-color);
}
div.slide-kitten {
  font-family: var(--original-font-family);
  font-size: 17px;
  font-weight: 100;
  text-decoration-line: none;
}
.small-bone {
  display: block;
  margin: auto;
}